<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Network Automation Intro</title>

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="dist/theme/black.css" id="theme">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <!-- Opening slides -->
                <section>
                
                    <section>
                        <h3 style="color:#85335c"> Network Automation Intro </h3>
                    </section>
                
                    <section>
                        <h5 style="color:#85335c"> Agenda (Theory) </h5>
                        <ul>
                            <li> Idea </li>
                            <li> Terms </li>
                            <li> Paradigms </li>
                            <li> Patterns </li>
                            <li> Data representation </li>
                            <li> Tooling </li>
                        </ul>
                    </section>
                
                </section>
                <!-- Automation Ideas -->
                <section>
                
                    <section>
                        <h4 style="color:#85335c"> Ideas that power automation </h4>
                    </section>
                
                    <section>
                    	<h5 style="color:#85335c"> Ideas that power automation </h5>
                    	<ul>
	                        <li> Growth of connectivity </li>
	                        <li class="fragment"> Requirement for higher quality </li>
	                        <li class="fragment"> Standartization </li>
	                        <li class="fragment"> Process robotization </li>
	                        <li class="fragment"> Decrease of cost </li>
	                    </ul>
                	</section>
                
                    <section>
                        <img src="images/communication-speed.png" alt="Comunication speed graph">
                    </section>
                   
                </section>

                <!-- Automation terminology -->
                <section>

                    <section>
                        <h4 style="color:#85335c"> Automation terminology </h4>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Orchestration </h5>
                        <p> Controling task execution and managing workflow sequence. </p>
                        <p> Especially important when end result has dependencies between separate systems </p>
                    </section>
                        
                    <section>
                        <h5 style="color:#85335c"> Instruction-set </h5>
                        <p> Ordered sequence of tasks (commands, calls or any  other type of actions). </p>
                        <p> Strictly formed according to the managed system's needs. </p>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> State </h5>
                        <p> Device or service configuration/operational status that fulfills defined requirements. </p>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Indempotency </h5>
                        <p> Ability to evaluate state and execute actions only when a change to current state is needed. </p>
                        <p> Idempotent operation is one that has no additional effect if it is called more than once with the same input parameters. </p>
                    </section>

                </section>

                <!-- Automation Paradigms -->
                <section>
                
                    <section>
                        <h4 style="color:#85335c"> Automation paradigms </h4>
                    </section>
                
                    <section>
                        <h5 style="color:#85335c"> Declarative </h5>
                        <ul>
                            <li class="fragment"> Emphasis on what to do (model), not on how to do (instructions). </li>
                            <li class="fragment"> Driven by data that defines desired state. </li>
                            <li class="fragment"> Possible states are modeled. </li>
                            <li class="fragment"> Intension is declared. </li>
                            <li class="fragment"> Resulting state is verified. </li>
                        </ul>
                    </section>
                    
                    <section>
                        <h5 style="color:#85335c"> Imperative </h5>
                        <ul>
                            <li class="fragment"> Emphasis on what changes must be done to reach desired outcomes (instructions). </li>
                            <li class="fragment"> Workflow (instructions) are developed for possible outcomes. </li>
                            <li class="fragment"> Workflow is initiated. </li>
                            <li class="fragment"> Tasks are completed sequentialy. </li>
                            <li class="fragment"> Resulting state is verified. </li>
                        </ul>
                    </section>
                
                </section>
                <!-- Automation Patterns -->
                <section>
                	<section>
                	    <h4 style="color:#85335c"> Automation patterns </h4>
                	</section>

                	<section>
                		<h5 style="color:#85335c"> Topology </h5>
                    	<ul>
                        	<li class="fragment"> The automation topology is star shaped. </li>
                            <li class="fragment"> Center - control and automation engine. </li>
                            <li class="fragment"> Data that is needed to define tasks and state is near the center. </li>
                            <li class="fragment"> Spokes - managed objects or automation agents next to the managed objects. </li>
                	   </ul>
                    </section>

                	<section>
                		<h5 style="color:#85335c"> Push based </h5>
                        <ul>
                    		<li class="fragment"> Changes are triggered by the central manager. </li>
                    		<li class="fragment"> Intension or workflow is propagated to the managed objects. </li>
                    		<li class="fragment"> Change results are brought back to the automation engine. </li>
                    		<li class="fragment"> More complex central engine, but state is central (in one place). </li>
                            <li class="fragment"> State knowledge is updated based on a schedule (vs event driven). </li>
                            <li class="fragment"> Performance depends on the scalability of the controller. </li>
                	   </ul>
                    </section>

                	<section>
                		<h5 style="color:#85335c"> Pull based </h5>
                        <ul>
                            <li class="fragment"> Changes are triggered by the managed object (it's automation agent). </li>
                            <li class="fragment"> Intension or workflow is downloaded from the central point. </li>
                            <li class="fragment"> Change results are (optionaly) brought back to the center. </li>
                            <li class="fragment"> State and implementation know-how is distributed. </li>
                            <li class="fragment"> State can be monitored more closely because of agents proximity. </li>
                            <li class="fragment"> Performance is more scalable. </li>
                        </ul>
                	</section>

                </section>

                
                <!-- Configuration data for Automation -->
                <section>

                    <section>
                        <h5 style="color:#85335c"> Parametrized configuration </h5>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Data formating </h5>
                        <ul>
                            <li><a href="https://yaml.org/start.html"> YAML </a></li> 
                            <li><a href="https://www.json.org/json-en.html"> JSON </a></li>
                            <li><a href="https://www.w3.org/XML/"> XML </a></li>
                        </ul>

                    </section>

                    <section>
                        <h5 style="color:#85335c"> Data formating: source configuration </h5>
                        <pre data-id="code-animation"><code class="plaintext" data-trim data-line-numbers>
                            interface Ethernet1/1
                              description Some descriptive text
                              switchport
                              switchport mode trunk
                              switchport trunk allowed vlan 4012-4013
                              no shutdown
                        </code></pre>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Data formating: YAML </h5>
                        <pre data-id="code-animation"><code class="yaml" data-trim data-line-numbers>
                            ---
                              name: Ethernet 1/1
                              description: Some descriptive text
                              swithport: true
                              switchport_mode: trunk
                              allowed_vlans:
                                - 4012
                                - 4013
                              shutdown: false
                    </code></pre>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Data formating: JSON </h5>
                        <pre data-id="code-animation"><code class="json" data-trim data-line-numbers>
                            {
                                "name": "Ethernet 1/1",
                                "description": "Some descriptive text",
                                "swithport": true,
                                "switchport_mode": "trunk",
                                "allowed_vlans": [
                                   4012,
                                   4013
                                ],
                                "shutdown": false
                            }
                    </code></pre>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Data formating: XML </h5>
                        <pre data-id="code-animation"><code class="xml" data-trim data-line-numbers>
                            <?xml version="1.0" encoding="UTF-8"?>
                            <root>
                               <allowed_vlans>
                                  <vlan>4012</vlan>
                                  <vlan>4013</vlan>
                               </allowed_vlans>
                               <description>Some descriptive text</description>
                               <name>Ethernet 1/1</name>
                               <shutdown>false</shutdown>
                               <swithport>true</swithport>
                               <swithport_mode>trunk</swithport_mode>
                            </root>
                    </code></pre>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Templating </h5>
                        <pre data-id="code-animation"><code class="jinja" data-trim data-line-numbers>
                            interface {{ name }}
                              description {{ description }}
                            {% if switchport %}
                              switchport
                              {% if switchport_mode == "trunk" %}
                              switchport mode {{ swithport_mode }}
                              switchport trunk allowed vlan none
                                {% for vlan in allowed_vlans %}
                              switchport trunk allowed vlan add {{ vlan }}
                                {% endfor %}
                              {% endif %}
                            {% endif %}
                            {% if shutdown %}
                              no shutdown
                             {% endif %}
                        </code></pre>
                    </section>

                    <section data-background-iframe="https://cryptic-cliffs-32040.herokuapp.com/" data-background-interactive>
                        <h2>Let's test</h2>
                        
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Configuration models </h5>
                        <p><a href="https://tools.ietf.org/html/rfc6020">YANG</a> - A Data Modeling Language for the Network Configuration Protocol (NETCONF) </p>
                    </section>

                    <section>
                    <pre data-id="code-animation"><code class="plaintext" data-trim>
                        +--rw interfaces
                              | +--rw interface* [name]
                              | +--rw name string
                              | +--rw description? string
                              | +--rw type identityref
                              | +--rw enabled? boolean
                    </code></pre>
                    Full model in <a href="https://yangcatalog.org/yang-search/yang_tree/ietf-interfaces@2018-02-20">Yang catalog</a>
                    </section>
                    
                    <section>
                        <img src="images/yang_one_picture.png" alt="YANG usage">
                        <p> Source: <a href="https://blogs.cisco.com/developer/coding-essentials-netdevops-part-4"> Cisco blogs </a></p>
                    </section>

                </section>
                <!-- Collecting and storing data for automation -->
                <section>   
                    
                    <section>
                        <h5 style="color:#85335c"> Managing structured data for automation </h5>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Source of Truth </h5>
                        <p> Traditionally state and "the truth" was derived from the network device </p>
                        <ul>
                            <li class="fragment"> Text file (+- SCM). </li>
                            <li class="fragment"> Table (worksheet/excel). </li>
                            <li class="fragment"> Database (+- application). </li>
                        </ul>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Unstructured data </h5>
                        <p> Network configuration representation is usually unstructured. </p>
                        <ul>
                            <li class="fragment"> State is modeled in the device <a href="https://developer.cisco.com/docs/nx-os/#!everything-is-an-object">(NXOS object model)</a>. </li>
                            <li class="fragment"> State queried by CLI. </li>
                            <li class="fragment"> State presented as human readable text. </li>
                        </ul>
                    </section>

                    <section>
                        <img src="images/nxos_prog_stack.png" alt="NXOS programability options">
                        <p> Source: <a href="https://www.cisco.com/c/en/us/td/docs/switches/datacenter/nexus9000/sw/7-x/programmability/guide/b_Cisco_Nexus_9000_Series_NX-OS_Programmability_Guide_7x/b_Cisco_Nexus_9000_Series_NX-OS_Programmability_Guide_7x_chapter_010011.html"> NXOS config guide </a> <a href="https://developer.cisco.com/learning/tracks/nxos-programmability">learning link</a></p>

                    </section>

                    <section>
                        <h5 style="color:#85335c"> Structuring unstructured data </h5>
                        <p> Layer converting unstructured data to other data representation forms. </p>
                        <ul>
                            <li class="fragment"><a href="https://pynet.twb-tech.com/blog/python/textfsm.html"> TextFSM </a></li>
                            <li class="fragment"><a href="https://developer.cisco.com/docs/pyats/#!introduction/cisco-pyats-network-test--automation-solution"> Genie/PyATS </a></li>
                            <li class="fragment"><a href="https://ttp.readthedocs.io/en/latest/"> Template text parser (TTP) </a></li>
                            <li class="fragment"> Regular Expresions (regex) </li>
                        </ul>
                    </section>

                </section>

                <!-- Usuall suspects for automation tooling -->
                <section>   
                    
                    <section>
                        <h4 style="color:#85335c"> (Network) infrastructure automation tools </h4>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Ansible </h5>
                        <img src="images/ansible_high_level.png" alt="Ansible architecture" style="height: 450px">
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Salt </h5> 
                        <img src="images/salt_high_level.png" alt="Salt architecture" style="height: 450px">   
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Puppet </h5>
                        <img src="images/puppet_run.png" alt="Puppet run overview" style="height: 450px">
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Chef </h5>
                        <img src="images/chef_architecture.jpg" alt="Chef architecture" style="height: 450px">   
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Terraform </h5>
                        <img src="images/terraform_workflow.jpg" alt="Terraform workflow" style="height: 400px">  
                    </section>



                </section>
                <!-- Links -->
                <section>
                    <p style="color:#85335c">Links for thurther development</p>
                        <section>
                        </section>
                        <section>
                            <a href="https://github.com/networktocode/awesome-network-automation"> Awesome Network Automation List </a>
                            <p>This page is maintained by the team at Network to Code and has links to numerous resources and anything you could think of related to network automation.</p>
                        </section>
                        <section>
                            <a href="https://pynet.twb-tech.com/email-signup.html"> Python for Network Engineers - Free Course</a>
                            <p>This course from Kirk Byers offers free training on Python, using specific examples relevant to Python. Kirk is the maintainer of Netmiko and is a core contributor on many open source network modules.</p>
                        </section>
                        <section>
                            <a href="https://developer.cisco.com/"> DevNet - Cisco</a>
                            <p>All Cisco things related to software development, programmable integration and autmation.</p>
                        </section>
                        <section>
                            <a href="https://blogs.cisco.com/developer/netdevops-part-1"> NetDevOps Series 1-19 </a>
                            <p>A series of blogs introducing various aspects of network programability topics by Julio Gomez</p>
                        </section>
                        <section>
                            <a href="https://nrelabs.io/"> NRE (Network Reliability Engineer) Labs</a>
                            <p>Short, simple, browser-based examples covering fundamentals and examples. I’d recommend not moving onto any others until you’ve done all the lessons offered.</p>
                        </section>
                        <section>
                            <a href="https://networktocode.slack.com/"> Network to Code - Slack</a>
                            <p>A Slack workspace for the network automation community, hosted by Network to Code. There are numerous channels and hundreds of people on this workspace contributing and helping others.</p>

                        </section>
                </section>

                <!-- Practice LAB -->
                <section>

                    <section>
                        <h3 style="color:#85335c"> Network Automation Lab </h3>
                    </section>
                
                    <section>
                        <h5 style="color:#85335c"> Agenda (Practice) </h5>
                        <ul>
                            <li> Environment </li>
                            <li> Lab devices </li>
                            <li> Ansible </li>
                            <li> Netmiko </li>
                            <li> NXAPI </li>
                        </ul>
                    </section>

                </section>

                <!-- Environment -->
                <section>

                    <section>
                        <h4 style="color:#85335c"> Environment </h4>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Simplified lab topology </h5>
                        <img src="images/lab.png" alt="Lab Topology" style="height: 400px; margin: 0 auto 4rem auto; background: transparent;">  
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Jumphost </h5>
                        <ul>
                            <li> Linux VM (netauto) </li>
                            <li> Python3 installed </li>
                            <li> Connectivity to device mgmt0 interfaces </li>
                        </ul>  
                    </section>

                </section>

                <!-- Lab devices -->
                <section>
                    
                    <section>
                        <h4 style="color:#85335c"> Lab network devices </h4>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> N7K </h5>
                        <p> Nexus 7010 (version 6.2.24a)</p>
                        <p><a href="https://www.cisco.com/c/en/us/support/switches/nexus-7000-series-switches/products-installation-and-configuration-guides-list.html"> Configuration guides </a> and <a href="https://www.cisco.com/c/en/us/products/collateral/switches/nexus-7000-series-switches/Data_Sheet_C78-437762.html">datasheet</a></p>
                        <img src="images/n7k.jpg" alt="N7K" style="height: 300px; margin: 0 auto 4rem auto; background: transparent;">
                    </section>

                    <section>
                        <h5 style="color:#85335c"> N5K </h5>
                        <p> Nexus 5010 (version 5.1.3 N2 1a)</p>
                        <p><a href="https://www.cisco.com/c/en/us/support/switches/nexus-5000-series-switches/products-installation-and-configuration-guides-list.html"> Configuration guides </a> and <a href="https://www.cisco.com/c/dam/global/en_sg/training-events/datacentertechbyte/assets/pdfs/cisco_nexus_5000_ds.pdf">datasheet</a></p>
                        <img src="images/n5k.jpg" alt="N5K" style="height: 150px; margin: 0 auto 4rem auto; background: transparent;">
                    </section>

                    <section>
                        <h5 style="color:#85335c"> N2K </h5>
                        <p> Nexus 2248TP </p>
                        <p><a href="https://www.cisco.com/c/en/us/products/collateral/switches/nexus-2000-series-fabric-extenders/data_sheet_c78-507093.html">Datasheet</a></p>
                        <img src="images/n5k.jpg" alt="N5K" style="height: 150px; margin: 0 auto 4rem auto; background: transparent;">
                    </section>

                </section>

                <!-- Ansible -->
                <section>
                    
                    <section>
                        <h4 style="color:#85335c"> Ansible </h4>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Features </h5>
                        <ul>
                            <li> Python based - wide developer community </li>
                            <li> Low user entry level - easy to use </li>
                            <li> Agentless - suitable for network equipment </li>
                            <li> Modular - network vendors can develop modules for their devices </li>
                        </ul>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Architecture </h5>
                        <img src="images/ansible_high_level.png" alt="Ansible architecture" style="height: 250px">
                        <ul>
                            <li> Inventory - managed device list </li>
                            <li> Module - instructions how to change configuration </li>
                            <li> Plugins - connectivity and platform dependent functions </li>
                            <li> Playbook - network vendors can develop modules for their devices </li>
                        </ul>
                    </section>

                    <section>
                        <h5 style="color:#85335c"> Instructions </h5>
                        <p><a href="">My first Ansible playbook</a></p>
                    </section>


            </div>
        </div>

        <script src="dist/reveal.js"></script>
        <script src="plugin/notes/notes.js"></script>
        <script src="plugin/markdown/markdown.js"></script>
        <script src="plugin/highlight/highlight.js"></script>
        <script>
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
            });
        </script>
    </body>
</html>
